.login {
    padding: 100px 20px;
}

.login .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 100px;
    width: 350px;
    max-width: 100%;
}

.login .image-container img {
    width: 100%;
}

.login form {
    padding: 10px 0px;
}

.login .form-group {
    margin-bottom: 30px;
}

.login input {
    width: 100%;
    height: 55px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #110eaf;
    border: 1px solid rgba(17, 14, 175, 0.4);
    border-radius: 8px;
    padding: 10px 24px;
}

.login input:focus {
    border: 1.5px solid #110eaf;
}

.login input:focus {
    outline: none;
}

.login ::placeholder {
    color: rgba(17, 14, 175, 0.69);
}

.login .btn {
    width: 100%;
    height: 50px;
    padding: 10px 24px;
    background-color: #110eaf;
    color: #ffffff;
    border-radius: 5px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    border: none;
    transition: all 0.5s ease;
    margin-top: 20px;
}

.login .btn:hover {
    background-color: #ccc;
    color: #110eaf;
    border: 1px solid #110eaf;
}

.login .btn:active {
    transform: scale(0.95);
}

.login .error {
    color: red;
    font-size: 0.80rem;
    font-weight: 400;
    font-family: Inter, sans-serif;
    margin-top: 5px;
}

.login .container {
    width: 200px;
}

.login .link-box {
    width: 100%;
}

.login .footLink {
    text-align: center;
    font-size: 14px;
    color: #110eaf;
    text-decoration: none;
    margin: 20px auto;
    display: block;
}

.login .footLink:hover {
    text-decoration: underline;
}