.register {
    padding: 100px 20px;
}

.register .title h1 {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    color: #110eaf;
    margin-bottom: 50px;
}

.register .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 100px;
    width: 350px;
    max-width: 100%;
}

.register .image-container img {
    width: 100%;
}

.register form {
    padding: 10px 0px;
}

.register .form-group {
    margin-bottom: 30px;
}

.register input {
    width: 100%;
    height: 55px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #110eaf;
    border: 1px solid rgba(17, 14, 175, 0.4);
    border-radius: 8px;
    padding: 10px 24px;
}

.register input:focus {
    border: 1.5px solid #110eaf;
}

.register input:focus {
    outline: none;
}

.register ::placeholder {
    color: rgba(17, 14, 175, 0.69);
}

.register .btn {
    width: 100%;
    height: 50px;
    padding: 10px 24px;
    background-color: #110eaf;
    color: #ffffff;
    border-radius: 5px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    border: none;
    transition: all 0.5s ease;
    margin-top: 20px;
}

.register .btn:hover {
    background-color: #ccc;
    color: #110eaf;
    border: 1px solid #110eaf;
}

.register .btn:active {
    transform: scale(0.95);
}

.register .error {
    color: red;
    font-size: 0.80rem;
    font-weight: 400;
    font-family: Inter, sans-serif;
    margin-top: 5px;
}

.register .container {
    width: 200px;
}

.register .link-box {
    width: 100%;
}

.register .footLink {
    text-align: center;
    font-size: 14px;
    color: #110eaf;
    text-decoration: none;
    margin: 20px auto;
    display: block;
}

.register .footLink:hover {
    text-decoration: underline;
}