.tasks {
    padding: 50px 20px;
}

.tasks .section-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.tasks .section-header h3 {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
}

.tasks .list {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.tasks .list-line {
    background-color: #110EAF;
    height: 6px;
    width: 40px;
    display: block;
    margin: 3px 0;
    border-radius: 100px;
}

.tasks .list-line:first-child {
    width: 45px;
}

.tasks .list-line:last-child {
    width: 35px;
}

.tasks .section-header img {
    cursor: pointer;
}

.tasks .section-search {
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tasks .section-search input {
    width: 97%;
    height: 35px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    border: 1px solid rgba(11, 7, 195, 0.5);
    border-radius: 10px;
    padding: 0px 20px;
    box-shadow: 0 -1px 4px 0 rgba(17, 14, 175, 0.49);
    outline: none;
}

.tasks .section-search input:focus {
    outline: none;
}

.tasks .section-task {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    gap: 15px 20px;
    margin-bottom: 16px;
}

.tasks .section-task a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: white;
}